nav{
    width: 75%;
    
    margin: auto;

    .navbar{
        display: flex;
        justify-content: space-between;
        padding: 15px;
        align-items: center;
        .nav_logo{
            img{
                width:11vw
            }
        }
        .nav_links{
            ul{
                display: flex;
                gap: 20px;
            }
        }


    }

}