$color_1: #000;
$color_2: #000;
$color_3: #6b7280;
$background-color_1: #fff;
$background-color_2: rgba(158, 152, 152, 0.401);

.form-cu {
  background-color: #fff;
  display: block;
  margin: auto;
  margin-top: 200px;
  padding: 1rem;
  max-width: 350px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);

 

  .form-title-cu {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: $color_1;
  }
  .input-container-cu {
    position: relative;
    input {
      outline: none;
	  color: #000;
      margin: 8px 0;
      padding: 0.7rem;
      border-radius: 0.5rem;
	  border: none;
      box-shadow: 0 0 5pt 2pt #d3d3d3;
    }
    textarea {
      background-color: $background-color_1;
      padding: 1rem;
      padding-right: 3rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
	  border: none;
      height: 150px;
      width: 320px;
      border-radius: 0.5rem;
	  box-shadow: 0 0 5pt 2pt #D3D3D3;
      margin: 0 auto;
    }
    img {
      margin-right: 10px;
    }
  }
  .form {
    button {
      outline: none;
      border: 1px solid black;
      margin: 8px 0;
      padding: 1rem;
      border-radius: 0.5rem;
    }
  }
  .submit-cu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    color: #fff;
    background-color: #212121;
    border: none;
    width: 100%;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin: 12px 0;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
  }
  .signup-link-cu {
    color: $color_3;
    font-size: 0.7rem;
    line-height: 1.25rem;
    text-align: center;
  }
  .signup-link {
    a {
      text-decoration: underline;
    }
  }
}
