$color_1: white;
$font-family_1: Arial, Helvetica, sans-serif;
$background-color_1: #4caf50;
$background-color_2: #45a049;

* {
  box-sizing: border-box;
}
body {
  font-family: $font-family_1;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  h1 {
    text-align: center;
  }
}

form {
  border-radius: 5px;
  padding: 20px;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button[type="submit"] {
  background-color: $background-color_1;
  color: $color_1;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  &:hover {
    background-color: $background-color_2;
  }
}
