$color_1: white;
$font-family_1: Arial, Helvetica, sans-serif;
$background-color_1: #000000;
$background-color_2: #45a049;

* {
  box-sizing: border-box;
}
body {
  font-family: $font-family_1;
  margin: 0;
  padding: 0;
}
.container {
  margin: auto;
  margin-top: 200px;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  

  padding: 20px;
  h1 {
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
  }
}

form {
  border-radius: 5px;
  padding: 20px;

  label{
    font-weight: 400;
  }
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  &:focus{
    outline: none;
    border-color: #1778f2;
  }
}
button[type="submit"] {
  background-color: $background-color_1;
  color: $color_1;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;

  
}

.borderop{
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}