.Payment-qr button {
    display: flex;
    border-radius: 10px;
    justify-content: center;
      width: 20%;
      padding: 10px 16px 10px;
      font-size: 13px;
      font-weight: 400;
      overflow: hidden;
      position: relative;
      text-decoration: none;
      transition: 0.1s;
      border: none;
      text-align: center;
      background-color: #d84e55;
      color: #fff;
}