* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

li {
  list-style: none;
}

.Routes-link {
  text-decoration: none;
  color: rgb(88, 165, 209);
}

.Routes-link:hover {
  text-decoration: none;
  list-style: none;
  text-shadow: rgb(52, 200, 161) 1px 0 10px;
}
