.Ticket-container{
    margin: auto;
    width: 80vw;
    .Ticket-header{
        display: flex;
        justify-content: space-between;
        .Ticket-header-left{
            margin-bottom: 50px;
        }
    }

    .Ticket-destination-date{
        display: flex;
        justify-content: space-between;

        .Ticket-start-end{
            display: flex;
            gap: 40px;
            .Ticket-Arrow{
                transform: scale(1.3);
            }
        }
    }

    .Ticket-name-time-seats{
        display: flex;
        gap: 200px;
    }
}