* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

li {
  list-style: none;
}

.Routes-link {
  text-decoration: none;
  color: rgb(88, 165, 209);
}

.Routes-link:hover {
  text-decoration: none;
  list-style: none;
  text-shadow: rgb(52, 200, 161) 1px 0 10px;
}

nav {
  width: 75%;
  margin: auto;
}
nav .navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}
nav .navbar .nav_logo img {
  width: 11vw;
}
nav .navbar .nav_links ul {
  display: flex;
  gap: 20px;
}
nav .navbar .nav_links ul .nav-txt {
  color: black;
  font-weight: 550;
}

.main_banner {
  background-image: url("../../../../src/app/assets/banner.svg"), linear-gradient(90deg, rgb(231, 246, 254) 57%, rgb(238, 254, 247) 100%);
  position: relative;
  width: 100%;
  background-position: 50% 45%;
  background-repeat: no-repeat;
  color: hsl(206, 48%, 24%);
  padding-bottom: 100px;
}
.main_banner .banner_div {
  width: 75%;
  margin: auto;
}
.main_banner .banner_div .banner_text {
  max-width: 55%;
  margin-top: 20px;
}
.main_banner .banner_div .banner_text h1 {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 15px;
}
.main_banner .banner_div .search_form {
  width: 75%;
  margin: auto;
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
}
.main_banner .banner_div .search_form form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 0px hsla(206, 48%, 24%, 0.1), 0px 6px 12px 0px hsla(206, 48%, 24%, 0.1);
  gap: 30px;
}
.main_banner .banner_div .search_form form div {
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  padding-left: 10px;
}
.main_banner .banner_div .search_form form div label {
  font-size: 10px;
}
.main_banner .banner_div .search_form form div select {
  border: none;
  outline: none;
  padding: 10px 0px;
  font-size: 16px;
}
.main_banner .banner_div .search_form form :last-child {
  border-right: none;
}
.main_banner .banner_div .search_form form .source-starting,
.main_banner .banner_div .search_form form .source-ending {
  flex: 1;
}
.main_banner .banner_div .search_form form .date-bus {
  border-right: none;
}
.main_banner .banner_div .search_form form .date-bus label {
  font-size: 10px;
  margin-bottom: 15px;
}
.main_banner .banner_div .search_form form .date-bus input {
  margin-bottom: 15px;
  border: 2px solid black;
}
.main_banner .banner_div .search_form form .search-bus {
  flex: 0.5;
  background: hsl(206, 100%, 51%);
  border-radius: 20px;
}
.main_banner .banner_div .search_form form .search-bus button {
  border: none;
  color: white;
  background: none;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 15px 0px;
  cursor: pointer;
}

.whycard_container {
  margin: 100px auto;
}
.whycard_container .whycard_div {
  width: 75%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.TopTravelledCardDiv {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.main-container {
  width: 100%;
  display: flex;
  align-items: center;
}
.main-container .part-1 {
  width: 50%;
}
.main-container .part-1 img {
  margin-top: 150px;
  width: 100%;
  height: 100%;
  transform: scale(0.8);
}
.main-container .part-2 {
  width: 50%;
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  margin-right: 20px;
  border-radius: 50px;
}
.main-container .part-2 .container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10px;
  background-color: transparent;
}
.main-container .part-2 .container .header .text {
  color: black;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.main-container .part-2 .container .inputs {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-container .part-2 .container .inputs .input {
  box-shadow: 0 0 5pt 2pt #d3d3d3;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 6px;
}
.main-container .part-2 .container .inputs .input:hover {
  box-shadow: 0 0 5pt 2pt rgb(137, 149, 185);
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 6px;
}
.main-container .part-2 .container .inputs .input img {
  margin: 0px 10px;
  background-color: transparent;
}
.main-container .part-2 .container .inputs .input input {
  padding: 10px;
  width: 500px;
  background-color: transparent;
  background: transparent;
  border: none;
  outline: none;
  font-weight: normal;
  color: black;
  font-size: 14px;
}
.main-container .part-2 .container .inputs .input input::-moz-placeholder {
  font-weight: normal;
  font-size: 13px;
  opacity: 0.3;
  color: black;
}
.main-container .part-2 .container .inputs .input input::placeholder {
  font-weight: normal;
  font-size: 13px;
  opacity: 0.3;
  color: black;
}
.main-container .part-2 .container .inputs .form-error {
  color: red;
  font-size: 12px;
}
.main-container .part-2 .container .forget-pass {
  margin-top: 27px;
  color: #4e4e4e;
  font-size: 13px;
}
.main-container .part-2 .container .forget-pass span {
  color: #3c009d;
  cursor: pointer;
}
.main-container .part-2 .container .submit-container {
  display: flex;
  gap: 30px;
  margin: 40px auto;
  align-items: center;
}
.main-container .part-2 .container .submit-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  color: #fff;
  background-color: #212121;
  border: none;
  width: 100%;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin: 12px 0;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

form {
  border-radius: 36px;
}

.main-container .submit-btn-login {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  color: #fff;
  background-color: #212121;
  border: none;
  width: 100%;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin: 12px 0;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0;
}

.whycard {
  max-width: 350px;
}
.whycard img {
  width: 40px;
  margin-bottom: 20px;
}
.whycard h4 {
  margin-bottom: 5px;
  color: #054652;
}
.whycard p {
  color: #6f8b90;
}

.ttc {
  width: 400px;
  height: 250px;
  position: relative;
  cursor: pointer;
}
.ttc img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.ttc span {
  padding: 10px 20px;
  position: absolute;
  bottom: 17px;
  left: 20px;
  color: white;
  z-index: 1;
  background-color: hsla(206, 48%, 24%, 0.2);
  -webkit-backdrop-filter: blur(16px) saturate(150%);
          backdrop-filter: blur(16px) saturate(150%);
  border-radius: 20px;
}
.ttc :hover {
  transform: scale(1.03);
  transition: transform 0.2s;
}

.form-cu {
  background-color: #fff;
  display: block;
  margin: auto;
  margin-top: 200px;
  padding: 1rem;
  max-width: 350px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}
.form-cu .form-title-cu {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}
.form-cu .input-container-cu {
  position: relative;
}
.form-cu .input-container-cu input {
  outline: none;
  width: 80%;
  color: #000;
  margin: 8px 0;
  padding: 0.7rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0 5pt 2pt #d3d3d3;
}
.form-cu .input-container-cu textarea {
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border: none;
  height: 150px;
  width: 320px;
  border-radius: 0.5rem;
  box-shadow: 0 0 5pt 2pt #d3d3d3;
  margin: 0 auto;
}
.form-cu .input-container-cu img {
  margin-right: 10px;
}
.form-cu .form button {
  outline: none;
  border: 1px solid black;
  margin: 8px 0;
  padding: 1rem;
  border-radius: 0.5rem;
}
.form-cu .submit-cu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  color: #fff;
  background-color: #212121;
  border: none;
  width: 100%;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin: 12px 0;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}
.form-cu .signup-link-cu {
  color: #6b7280;
  font-size: 0.7rem;
  line-height: 1.25rem;
  text-align: center;
}
.form-cu .signup-link a {
  text-decoration: underline;
}

.form-container-fp {
  margin: auto;
  margin-top: 200px;
  max-width: 400px;
  background-color: #fff;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: #212121;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.form-container-fp button:active {
  scale: 0.95;
}

.form-container-fp .logo-container-fp {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.form-container-fp .form-fp {
  display: flex;
  flex-direction: column;
}

.form-container-fp .form-group-fp {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container-fp .form-group-fp label {
  display: block;
  margin-bottom: 5px;
}

.form-container-fp .form-group-fp input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 6px;
  font-family: inherit;
  border: 1px solid #ccc;
}

.form-container-fp .form-group-fp input::-moz-placeholder {
  opacity: 0.5;
}

.form-container-fp .form-group-fp input::placeholder {
  opacity: 0.5;
}

.form-container-fp .form-group-fp input:focus {
  outline: none;
  border-color: #1778f2;
}

.form-container-fp .form-submit-btn-fp {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  color: #fff;
  background-color: #212121;
  border: none;
  width: 100%;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin: 12px 0;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.form-container-fp .form-submit-btn-fp:hover {
  background-color: #313131;
}

.form-container-fp .link-fp {
  color: #1778f2;
  text-decoration: none;
}

.form-container-fp .signup-link-fp {
  align-self: center;
  font-weight: 500;
}

.form-container-fp .signup-link-fp .link-fp {
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}
.container h1 {
  text-align: center;
}

form {
  border-radius: 5px;
  padding: 20px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type=submit] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}
button[type=submit]:hover {
  background-color: #45a049;
}

.main-buslist {
  background-color: #E7F9FC;
  display: flex;
  flex-direction: column;
}

.main-buslist .banner_div .search_form {
  width: 75%;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}

.main-buslist .banner_div .search_form form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 0px rgba(32, 65, 91, 0.1), 0px 6px 12px 0px rgba(32, 65, 91, 0.1);
  gap: 30px;
}

.main-buslist .banner_div .search_form form div {
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  padding-left: 10px;
}

.main-buslist .banner_div .search_form form div label {
  font-size: 10px;
}

.main-buslist .banner_div .search_form form div select {
  border: none;
  outline: none;
  padding: 10px 0px;
  font-size: 16px;
}

.main-buslist .banner_div .search_form form :last-child {
  border-right: none;
}

.main-buslist .banner_div .search_form form .source-starting, .main-buslist .banner_div .search_form form .source-ending {
  flex: 1;
}

.main-buslist .banner_div .search_form form .date-bus {
  border-right: none;
}

.main-buslist .banner_div .search_form form .date-bus label {
  font-size: 10px;
  margin-bottom: 15px;
}

.main-buslist .banner_div .search_form form .date-bus input {
  margin-bottom: 15px;
  border: 2px solid black;
}

.main-buslist .banner_div .search_form form .search-bus {
  flex: 0.5;
  background: #0593ff;
  border-radius: 20px;
}

.main-buslist .banner_div .search_form form .search-bus button {
  border: none;
  color: white;
  background: none;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 15px 0px;
  cursor: pointer;
}

.bus-box {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  margin-left: 200px;
}/*# sourceMappingURL=index.css.map */