.navbar {
  width: 85%;
  margin: 0 auto;
}
.navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar nav img {
  width: 15%;
}
.navbar nav a {
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
}

.banner-top {
  background-image: url(../../../../src/app/assets/banner.svg);
  background-repeat: no-repeat;
  width: 100%;
}
.banner-top .banner-txt {
  width: 85%;
  margin: auto;
}
.banner-top .banner-txt h1 {
  margin-top: 95px;
  color: #20415b;
  font-weight: 800;
  font-size: 4em;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: none;
}
.banner-top .banner-txt p {
  color: #446883;
  font-size: 20px;
  margin-top: 24px;
  font-weight: 800;
}
.banner-top .banner-srch {
  display: flex;
  border-radius: 10px;
  text-align: center;
  margin-top: 50px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  box-shadow: 0px 1px 4px 0px hsla(206, 48%, 24%, 0.1), 0px 6px 12px 0px hsla(206, 48%, 24%, 0.1);
}
.banner-top .banner-srch .source-starting {
  border-right: 1px solid rgb(221, 221, 221);
  display: flex;
  gap: 5px;
  flex-direction: column;
  padding: 10px;
}
.banner-top .banner-srch .source-starting label {
  text-align: left;
  font-size: 12px;
}
.banner-top .banner-srch .source-starting input {
  border: none;
  outline: none;
}
.banner-top .banner-srch .source-ending {
  border-right: 1px solid rgb(221, 221, 221);
  display: flex;
  gap: 5px;
  flex-direction: column;
  padding: 10px;
}
.banner-top .banner-srch .source-ending label {
  text-align: left;
  font-size: 12px;
}
.banner-top .banner-srch .source-ending input {
  border: none;
  outline: none;
}
.banner-top .banner-srch .date-bus {
  display: flex;
  padding: 10px;
}
.banner-top .banner-srch .date-bus input {
  border: none;
  outline: none;
}
.banner-top .banner-srch .search-bus {
  background-color: #0593ff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.banner-top .banner-srch .search-bus button {
  background: transparent;
  cursor: pointer;
  border: none;
}
.banner-top .banner-srch .search-bus button .ri-search-2-line {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
}
.banner-top .slogan {
  margin-top: 80px;
  gap: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
}

* {
  background-color: rgba(232, 248, 253, 0.7843137255);
}

.main-container {
  width: 100%;
  display: flex;
  align-items: center;
}
.main-container .part-1 {
  width: 50%;
}
.main-container .part-1 img {
  width: 100%;
  height: 100%;
  transform: scale(0.8);
}
.main-container .part-2 {
  width: 50%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}
.main-container .part-2 .container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10px;
  background-color: transparent;
}
.main-container .part-2 .container .header .text {
  color: black;
  font-size: 28px;
  font-weight: 800;
  text-align: center;
}
.main-container .part-2 .container .inputs {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-container .part-2 .container .inputs .input {
  display: flex;
  align-items: center;
  background-color: #337A9D;
  border-radius: 6px;
}
.main-container .part-2 .container .inputs .input img {
  margin: 0px 30px;
  background-color: transparent;
}
.main-container .part-2 .container .inputs .input input {
  padding: 13px;
  background: transparent;
  border: none;
  outline: none;
  color: black;
  font-size: 17px;
}
.main-container .part-2 .container .inputs .input input::-moz-placeholder {
  color: black;
}
.main-container .part-2 .container .inputs .input input::placeholder {
  color: black;
}
.main-container .part-2 .container .forget-pass {
  margin-top: 27px;
  color: #4e4e4e;
  font-size: 18px;
}
.main-container .part-2 .container .forget-pass span {
  color: #3c009d;
  cursor: pointer;
}
.main-container .part-2 .container .submit-container {
  display: flex;
  gap: 30px;
  margin: 40px auto;
  align-items: center;
}
.main-container .part-2 .container .submit-container button {
  background-color: #D5EFFF;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}

form {
  border-radius: 36px;
}/*# sourceMappingURL=index.css.map */