* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

li {
  list-style: none;
}

nav {
  width: 75%;
  margin: auto;
}
nav .navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}
nav .navbar .nav_logo img {
  width: 11vw;
}
nav .navbar .nav_links ul {
  display: flex;
  gap: 20px;
}

.main_banner {
  background-image: url("../../../../src/app/assets/banner.svg"), linear-gradient(90deg, rgb(231, 246, 254) 57%, rgb(238, 254, 247) 100%);
  position: relative;
  width: 100%;
  background-position: 50% 45%;
  background-repeat: no-repeat;
  color: hsl(206, 48%, 24%);
  padding-bottom: 100px;
}
.main_banner .banner_div {
  width: 75%;
  margin: auto;
}
.main_banner .banner_div .banner_text {
  max-width: 55%;
  margin-top: 20px;
}
.main_banner .banner_div .banner_text h1 {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 15px;
}
.main_banner .banner_div .search_form {
  width: 75%;
  margin: auto;
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
}
.main_banner .banner_div .search_form form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 0px hsla(206, 48%, 24%, 0.1), 0px 6px 12px 0px hsla(206, 48%, 24%, 0.1);
  gap: 30px;
}
.main_banner .banner_div .search_form form div {
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  padding-left: 10px;
}
.main_banner .banner_div .search_form form div label {
  font-size: 10px;
}
.main_banner .banner_div .search_form form div input {
  border: none;
  outline: none;
  padding: 10px 0px;
  font-size: 16px;
}
.main_banner .banner_div .search_form form :last-child {
  border-right: none;
}
.main_banner .banner_div .search_form form .source-starting, .main_banner .banner_div .search_form form .source-ending {
  flex: 1;
}
.main_banner .banner_div .search_form form .date-bus {
  border-right: none;
}
.main_banner .banner_div .search_form form .search-bus {
  flex: 0.5;
  background: hsl(206, 100%, 51%);
  border-radius: 20px;
}
.main_banner .banner_div .search_form form .search-bus button {
  border: none;
  color: white;
  background: none;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 15px 0px;
  cursor: pointer;
}

.whycard_container {
  margin: 100px auto;
}
.whycard_container .whycard_div {
  width: 75%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.TopTravelledCardDiv {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.whycard {
  max-width: 350px;
}
.whycard img {
  width: 40px;
  margin-bottom: 20px;
}
.whycard h4 {
  margin-bottom: 5px;
  color: #054652;
}
.whycard p {
  color: #6f8b90;
}

.ttc {
  width: 400px;
  height: 250px;
  position: relative;
  cursor: pointer;
}
.ttc img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.ttc span {
  padding: 10px 20px;
  position: absolute;
  bottom: 17px;
  left: 20px;
  color: white;
  z-index: 1;
  background-color: hsla(206, 48%, 24%, 0.2);
  -webkit-backdrop-filter: blur(16px) saturate(150%);
          backdrop-filter: blur(16px) saturate(150%);
  border-radius: 20px;
}
<<<<<<< HEAD
.banner-top .slogan {
  margin-top: 80px;
  gap: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
}

* {
  background-color: rgba(232, 248, 253, 0.7843137255);
}

.main-container {
  width: 100%;
  display: flex;
  align-items: center;
}
.main-container .part-1 {
  width: 50%;
}
.main-container .part-1 img {
  width: 100%;
  height: 100%;
  transform: scale(0.8);
}
.main-container .part-2 {
  width: 50%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}
.main-container .part-2 .container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10px;
  background-color: transparent;
}
.main-container .part-2 .container .header .text {
  color: black;
  font-size: 28px;
  font-weight: 800;
  text-align: center;
}
.main-container .part-2 .container .inputs {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-container .part-2 .container .inputs .input {
  display: flex;
  align-items: center;
  background-color: #337A9D;
  border-radius: 6px;
}
.main-container .part-2 .container .inputs .input img {
  margin: 0px 30px;
  background-color: transparent;
}
.main-container .part-2 .container .inputs .input input {
  padding: 13px;
  background: transparent;
  border: none;
  outline: none;
  color: black;
  font-size: 17px;
}
.main-container .part-2 .container .inputs .input input::-moz-placeholder {
  color: black;
}
.main-container .part-2 .container .inputs .input input::placeholder {
  color: black;
}
.main-container .part-2 .container .forget-pass {
  margin-top: 27px;
  color: #4e4e4e;
  font-size: 18px;
}
.main-container .part-2 .container .forget-pass span {
  color: #3c009d;
  cursor: pointer;
}
.main-container .part-2 .container .submit-container {
  display: flex;
  gap: 30px;
  margin: 40px auto;
  align-items: center;
}
.main-container .part-2 .container .submit-container button {
  background-color: #D5EFFF;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}

form {
  border-radius: 36px;
=======
.ttc :hover {
  transform: scale(1.03);
  transition: transform 0.2s;
>>>>>>> main
}/*# sourceMappingURL=index.css.map */