.form-container-fp {
  margin: auto;
  margin-top: 200px;
  max-width: 400px;
  background-color: #fff;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: #212121;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow:
    0px 0px 3px rgba(0, 0, 0, 0.084),
    0px 2px 3px rgba(0, 0, 0, 0.168);
}

.form-container-fp button:active {
  scale: 0.95;
}

.form-container-fp .logo-container-fp {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.form-container-fp .form-fp {
  display: flex;
  flex-direction: column;
}

.form-container-fp .form-group-fp {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container-fp .form-group-fp label {
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
}

.form-container-fp .form-group-fp input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 6px;
  font-family: inherit;
  border: 0.4px solid black;
}

.form-container-fp .form-group-fp input::placeholder {
  opacity: 0.7;
}

.form-container-fp .form-group-fp input:focus {
  outline: none;
  border-color: #1778f2;
}

.form-container-fp .form-submit-btn-fp {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  color: #fff;
  background-color: #212121;
  border: none;
  width: 100%;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin: 12px 0;
  cursor: pointer;
  border-radius: 6px;
  box-shadow:
    0px 0px 3px rgba(0, 0, 0, 0.084),
    0px 2px 3px rgba(0, 0, 0, 0.168);
}

.form-container-fp .form-submit-btn-fp:hover {
  background-color: #313131;
}

.form-container-fp .link-fp {
  color: #1778f2;
  text-decoration: none;
}

.form-container-fp .signup-link-fp {
  align-self: center;
  font-weight: 500;
}

.form-container-fp .signup-link-fp .link-fp {
  font-weight: 400;
}
