.whycard{
    max-width: 350px;
    img{
        width: 40px;
        margin-bottom: 20px;

    }
    h4{
        margin-bottom: 5px;
        color: #054652;
    }
    p{
        color: #6f8b90;
    }
   

}