
.main-container {
  width: 100%;
  display: flex;
  align-items: center;
  .part-1 {
    width: 50%;
    img {
      width: 100%;
      height: 100%;
      transform: scale(0.8);
    }
  }

  .part-2 {
    width: 50%;
    background: #d1f2fd;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin-right: 20px;
    border-radius: 50px;

    .container {
      max-width: 500px;
      display: flex;
      flex-direction: column;
      margin: auto;
      margin-top: 10px;
      background-color: transparent;
      

      .header {
        .text {
          color: black;
          font-size: 18px;
          font-weight: 700;
          text-align: center;
        }
      }

      .inputs {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .input {
          box-shadow: 0 0 5pt 2pt #D3D3D3;
          display: flex;
          align-items: center;
          background-color: white;
          border-radius: 6px;

          

          img {
            margin: 0px 10px;
            background-color: transparent;
          }

          input {
            padding: 10px;
            width: 500px;
            background-color: transparent;
            background: transparent;
            border: none;
            outline: none;
            font-weight: normal;
            color: black;
            font-size: 14px;

            

            &::placeholder {
              font-weight: normal;
              font-size: 13px;
              opacity: 0.3;
              color: black;
            }
            
          }
          
        }
        .form-error {
          color: red;
          font-size: 12px;
          
        }
      }
      .forget-pass {
        margin-top: 27px;
        color: #4e4e4e;
        font-size: 13px;
        span {
          color: #3c009d;
          cursor: pointer;
        }
      }

      .submit-container {
        display: flex;
        gap: 30px;
        margin: 40px auto;
        align-items: center;
        button {
          background-color: grey;
          color: black;
          border: none;
          padding: 10px 20px;
          border-radius: 20px;
          cursor: pointer;
          font-size: 18px;
          font-weight: 500;
        }
      }
    }
  }
}
